body { outline: 5px solid red; } /* to test if its losding stylehseets */


.img-box img{
  width: 100px;
  height: 100px;
  display: block;
  margin: 50px;
  border: 940px: solid red;
  
}

.img-boxe img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 100px;
  border: 101px: solid green;

}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-center; /* push items to the right */
  gap: 16px; /* spacing between items (optional) */
  background: yellow;
}

.nav-list a {
  text-decoration: none;
}
